@import url('https://fonts.cdnfonts.com/css/calculator');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcContainer{
    width: 26em;
    height: 38em;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8D2A6;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 2px 8px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -8px 0px inset;
}

#screen{
    font-family: 'Calculator', sans-serif;
    margin: 10px 0 6px 0;
    width: 94%;
    border-radius: 10px;
    height: calc(100% / 5);
    background-color: #CFD3CE;
    box-shadow: inset 0 0 7px gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#screen h1{
    margin: 1rem;
    font-size: 60px;
    letter-spacing: 0.3rem;
}

#buttons{
    height: calc(100% / 1.2);
    display: flex;
    margin-bottom: 10px;
}

#numpad{
    width: 18rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#operators{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 6rem;
}

.button, .number, .oper{
    margin: 0 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20%;
    height: 4.4rem;
    width: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: x-large;
    color: black;
}

#numpad .number, .button{
    background-color: #86A3B8;
}


.zero{
    border-radius: 18px;
    width: 11.6rem;
    margin-left: 1px;
}

#operators .oper{
    background-color: #F48484;
}


@media only screen and (max-width: 600px) {
    #calcContainer{
        width: 20em;
        height: 32em;
    }

    .button, .number, .oper{
        height: 3.8rem;
        width: 4.2rem;
        font-size: large;
    }

    #operators{
        position: relative;
        right: 16px;
        width: 4.2rem;
    }

    #numpad{
        width: 16rem;
    }

    .zero{
        border-radius: 15px;
        width: 8.7rem;
        margin-left: 5px;
    }

    #screen h1{
        margin: 0.8rem;
        font-size: 45px;
        letter-spacing: 0.3rem;
    }
}